$primary: #1a253f;
$secondary: #2b55cc;
$background: #151A33;
$testimonials: #12162c;
$heaven: #fff;
$ternary: #848db3;
$fade : #7081b9;
$success : #1ecab8;
$danger : #f1646c;
$yellow: #f3c74d;
$black:#060b1b;
$footer:#212A4A;